.filter{
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter p {
    font-size: 20px;
    font-weight: 600;
}

.filter input {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #000;
    color: #797979;
    font-size: 16px;
    font-weight: 500;
}

.filter button {
    visibility: hidden;
}